.container {
  width: 50%;
  margin: 3em auto;
}
.heading {
  text-align: center;
}
img {
  width: calc(100% - 200px);
}
h1 {
  font-size: 1.75em;
  margin: 0 0 .75em;
}
.inputArea {
  text-align: center;
  font-size: 1em;
  width: calc(calc(100% - 1.55em) - 2px);
}
.queryInput {
  width: calc(calc(100% - 1.55em) - 2px);
  border-radius: 99px;
  border: 1px solid gray;
  font-size: 1em;
  padding: .55em 1.55em;
}
.queryInput:focus {
  border: 1px solid gray;
}
.resultsListContainer {
  width: calc(100% - 3.1em);
  padding: 0 1.55em 1em;  
}
h2 {
  font-size: 1em;
  margin: .75em 0;
  color: gray;
}
.resultsList {
  width: 100%;
  border-top: 1px solid lightgray;
  margin: .75em 0 0 0;
  padding: 0;
  list-style: none;
}
.resultsListItem {
  margin: .65em 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}